<!--
  Footer Component - HTML/CSS Implementation

  Variantes disponíveis:
  - default: Footer padrão sem elementos adicionais.

-->

<style>
    .hover-no-underline:hover {
        text-decoration: none !important;
    }
</style>
<table style="background-color: #f1f5f9; width: 100%;" cellpadding="0" cellspacing="0" role="none">
    <tr>
        <td>&zwj;</td>
        <td style="background-color: #fffffe; width: 600px; max-width: 100%; padding-bottom: 24px; padding-top: 44px;">
            <table style="width: 100%;" cellpadding="0" cellspacing="0" role="none">
                <tr>
                    <td style="padding: 0 24px;">
                        <table style="width: 100%;" cellpadding="0" cellspacing="0" role="none">
                            <tr>
                                <td style="vertical-align: middle;">
                                    <a href="https://example.com">
                                        <img src="https://bucket.mailersendapp.com/0r83ql3eyx4zw1jm/0p7kx4xem8g9yjre/images/9e767506-c199-4ad6-8b4a-c49a3f3ae02f.png"
                                            width="80" alt="Linkana" style="max-width: 100%; vertical-align: middle;">
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <table style="background-color: #f1f5f9; width: 100%;" cellpadding="0" cellspacing="0"
                            role="none">
                            <tr>
                                <td>&zwj;</td>
                                <td style="background-color: #fffffe; width: 600px; max-width: 100%;">
                                    <table role="separator" style="width: 100%;" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td style="width: 0px">&zwj;</td>
                                            <td>
                                                <div
                                                    style="height: 1px; line-height: 1px; background-color: #d1d5db; margin-top: 24px; margin-bottom: 24px;">
                                                    &zwj;</div>
                                            </td>
                                            <td style="width: 0px">&zwj;</td>
                                        </tr>
                                    </table>
                                </td>
                                <td>&zwj;</td>
                            </tr>
                        </table>
                        <div>
                            <p style="margin: 0 0 8px; font-size: 16px; line-height: 24px; color: #d1d5db;">
                                &copy; 2026 Linkana. Todos os direitos reservados.
                            </p>
                            <p style="margin: 0; font-size: 16px; line-height: 24px; color: #d1d5db;">
                                Você está recebendo este e-mail por conta da sua preferência de conta.
                                <br>
                                Caso ainda tenha dúvidas, acesse nossa
                                <a href="https://suporte.linkana.com/pt-BR/" class="hover-no-underline"
                                    style="color: #d1d5db; text-decoration: underline;">central de ajuda</a>.
                            </p>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
        <td>&zwj;</td>
    </tr>
</table>